@font-face {
    font-family: 'gothambol';
    src: url('../fonts/gothambold1.eot');
    src: local('../fonts/gothambold1'), url('../fonts/gothambold1.woff') format('woff'), url('../fonts/gothambold1.ttf') format('truetype');
}
h1, h2, h3, h4, h5, h6{
    font-family: "gothambol"
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left:15px !important;
    padding-right:15px !important;
}
img{
    width:100%;
}
.container-fluid.mainWrapper{
    padding-left:0px;
    padding-right:0px;
}
.mainWrapper{
    background-image: url("../img/main.jpg");
    background-size: 100%;
    background-position: 50%;

}
.sectionHeader{
    padding:30px 0;
}

.upperRow {
    margin-bottom: 15px;
    margin-top: 0px!important;
}
.lowerRow {
    margin-top: 20px !important;
}
.topMenu li{
    display: inline;
    float:left;
    margin-top:20px;
    letter-spacing: 1px;
}
.topMenu li a{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    padding:0px 5px;
}

.topMenu i{
    color:#e42c35;
}
.topMenu li a:hover{
    background: none;
    color:#e42c35;
}
.topMenu li input{
    margin:0 5px;
    margin-top:-4px;
}




.mainSlogan{
    margin-top:100px;
    font-size:50px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 100;
}

.mainForm{
    background-color: #e42c35;
    padding: 0px !important; 
}
.mainFormContainer{
    background-color: #fff;
    margin: 10px;
}

.mainFormContainer button{
    color:#fff;
    width:100%;
    border-radius:0px;
    background-color:#fff;
    color:#333333;
    padding:10px 12px;
    text-align:left
}
.mainFormContainer div.dropdown{
    width:100%;
}

.mainFormContainer i{
    color:#e42c35;
    margin-top:3px;
    font-weight:bold;
    position: absolute;
    right:10px;
}

.mainFormContainer div.single{
    padding-left:0px !important;
    padding-right:0px !important;
    border-right:1px solid #e42c35
}

.btnContainer{
    background: none;
    margin-top:10px;
    margin-bottom:150px;
}
.btnContainer button{
    padding:10px 30px;
}
.logo{
    margin-top:20px;
    margin-left:-15px !important; 
}
.bestsellerContainer {

    min-height: 300px;
}
.bestsellerContainer h4.title{
    padding: 0 10px;
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
    clear: both;
    min-height: 35px
}
.bestsellerContainer h4.location{
    padding: 0 10px;
    color: #666;
    font-size: 12px;
    font-style: italic;
    clear: both;
}
.bestsellerContainer h4.price{
    padding:0 10px;
    color:#e42c35;
    clear: both;
}
.bestsellerContainer{
    padding-bottom:10px;
    border:1px solid #dbdbdb;
}

.blogContainer h4.title{
    padding: 0 10px;
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
    clear: both;
    min-height: 50px
}

.blogContainer h4.readMore{
    padding: 0 10px;
    color: #e42c35;
    clear: both;
    font-size: 13PX;
    font-weight: bold;
}
.blogContainer{
    padding-bottom:10px;
    border:1px solid #dbdbdb;
    min-height: 250px;
}

.howContainer{
    background-color: #eeeeee;
    padding-top:30px !important;
    margin-top:40px !important;
}

.howContainer div.block{
    background-color: #fff;
    float: left;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #dbdbdb;
    min-height: 205px;
}

.howContainer i{
    float:left;
    font-size: 60px;
    color: #e42c35;
    padding-right: 20px;
}

.howContainer p{   
    float: left;
    font-size: 12px;
    color: #494949;
    margin: 10px 0;
}

.howContainer h4.readMore{
    float:left;
    padding: 0 10px;
    color: #e42c35;
    clear: both;
    font-size: 13PX;
    font-weight: bold;
}

.howContainer h4{
    font-size: 20px;
    margin-top: 15px;
    color: #e42c35;
    text-transform: uppercase;
    font-weight:400;
}
.titleContainer h3{
    color:#333333;
    font-weight:bold;

}
.titleContainer h5{
    color:#333333;
    margin-bottom:30px;
    border-bottom: none !important;
}
.faq div.block{
    width: 100%;
    min-height: 440px;
}

.faq i{
    font-size:20px;
    padding-right:10px;
    line-height: 37px;
}

.faq a{
    font-weight: 400;
    color:#494949;
    line-height:37px;
}
.faq h5{
    line-height: 25px;
    border-bottom: 1px solid #999;

}

.faq div.points{
    padding:0px 20px;
}

.customRed{
    background-color: #e42c35;
    color: #fff;
    border-radius: 0px;
    color: #fff;
    font-size: 13px;
    margin-top: 15px;
    padding: 10px 20px;
}

.customRed:hover{
    background-color: #d32c34;
    color: #fff;
}

.about{
    padding:30px 0;
}
.about p{
    text-align: justify;
}

.advert img{
    width:100%;
}
.advert{
    background-image: url("../img/pattern.jpg");
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.advertContainer div.leftColumn> h4 {
    margin-top:30px !important;
}
.advertContainer div.leftColumn> h3, .advertContainer div.leftColumn> h4, .advertContainer div.bottom {
    margin-top:30px;
    padding-left:20px;
    text-align: left !important;
}

.advertContainer{
    background-color: #fff;
}

.leftColumn{
    padding:30px;
}

.leftColumn h4{
    margin-top:60px;
    text-transform: uppercase;
    font-weight:200;
    font-size: 14px;
    letter-spacing: 2px;
}    
.leftColumn h3{
    font-size: 35px;
    margin-top: 15px;
    color: #e42c35;
    text-transform: uppercase;
    font-weight:600;
}

.leftColumn div.bottom{
    margin-top:80px;

}
.leftColumn div.bottom a, .leftColumn div.bottom i{
    color:#e42c35;
    font-weight:400;
    font-size: 12px;
}

.newsletter{
    padding:15px 0;
    background-color: #e42c35 !important;
    padding-bottom:20px;
}
.newsletter h4{
    color:#fff;
    font-size:14px;
    letter-spacing:2px;
}

.newsletter input{
    boredr:none;
    padding:4px 10px;
    margin-right:5px;
}

.newsletter button{
    border:1px solid #fff;
    padding:6px 20px;
    margin-top:-2px;
}

.signout{
    margin-top:15px;
    margin-left:0px;
}
.signout a{
    text-decoration: underline;
}
.signout, .signout a{
    font-size:13px;
    color:#fff;
    font-weight:200

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size:12px;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size:12px;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size:12px;
}
:-moz-placeholder { /* Firefox 18- */
    font-size:12px;
}

.newsletter{
    background-image: url('../img/envelope.png');
    background-repeat: no-repeat;
    background-position-x: 0px;
}
.newsletter ul{
    list-style: none;
    text-transform: uppercase;
    color: #FFF;
    font-size:15px;
    font-weight: 300
}

.newsletter li{
    text-transform: none;
    font-size:12px;
    padding-top:6px;
    letter-spacing:1px;
}

.newsletter li i{
    margin-right:3px;
}
.footer{
    background: #000;
    padding:0px;
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100%;
}

.bottomMenu {
    padding:15px 0
}
.bottomMenu ul li a{
    color:#fff
}
.bottomMenu ul li a:hover{
    color: #e42c35;
}
.bottomMenu ul li{
    display: inline;
    color: #fff;
    padding: 10px 0;
    text-transform: uppercase;
    list-style: none;
    font-weight: 200;
    font-size: 12px;
    padding: 0 20px;
    letter-spacing: 1px;
    border-right: 1px solid #3b3b3b;
    font-size:11px;
}

.bottomMenu ul li:last-child{
    border:none;
}

.links h4{
    color: #e42c35;
    text-transform: uppercase;
    font-size: 14px;
}
.links ul li, .links ul a{
    color: #fff;
    padding-left:5px;
    list-style: none;
    font-weight:200;
    font-size:12px;
    padding-top:5px;
}
.links ul a:hover{
    color: #e42c35;
}

.links{
    border-top:1px solid #3b3b3b;
    border-bottom:1px solid #3b3b3b;
    padding:30px 0;
}
.contact h4{
    margin-top:20px;
    color: #e42c35;
    text-transform: uppercase
}

.contact{
    padding:20px 0;
}
.contact i{
    color: #e42c35;
    font-size: 40px;
    float: left;
    margin-top:10px;
}
.contact div{
    float:left;
    padding-left:20px;
    color:#fff;
    font-weight:300;
}

.contact div.border{
    border-right:1px solid #3b3b3b;
}

.contact{
    border-bottom:1px solid #3b3b3b;
}
.social i{
    color:#fff;
    padding-right:10px;
}
.social i:hover{
    color: #e42c35;
    cursor: pointer;
}
.social{
    padding-top:15px;
    padding-bottom:80px;
}

.noBorder{
    border:none;
}
.navbar-toggle.left{
    float:left;
    margin-left:15px;
}

.mainMenu {
    float: right;
    background-color: #e42c35;
    margin-top:20px;
    margin-right: -15px;
    height:60px;
}
.mainMenu li{
    padding-top:20px;
    padding-bottom:20px;
    margin-top:0px;
}
.mainMenu li a:hover{
    color:#000
}
.mainMenu li a{
    padding:0 25px;
}

.submenu li a{
    color:#000;
    font-size:12px;

}
.submenu li{
    padding-top:10px;
    padding-bottom:10px;
}

.dropdown-menu.submenu{
    top: 59px;
    position: absolute;
    float: left;
    right: 0;
    width: auto;
    margin-left: -800px;
    border: none;
    border-radius: 0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background:none !important;
    border-color: #337ab7;
}
.nav>li>a:focus, .nav>li>a:hover{
    background:none !important;
}
.single div.dropdown-menu{
    width: 100%;
    border-radius: 0;
    border: none;
    padding:0px;
}
.single div.dropdown-menu a{
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #cecece;
    color:#333333;
}
.single div.dropdown-menu a:hover{
    color:#e42c35;
}


@media (max-width: 767px) { 

    .col-xs-12{
        padding: 0 5px;
    }
    .topMenu li {
        margin-top:5px
    }
    .topMenu{
        padding-left:0px;
    }
    .grouped{

        padding-left: 15px !important;
        padding-right: 15px !important;

    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
        padding-left:8px;
        padding-right:8px;
    }
    .upperRow, .upperRow img {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .lowerRow img{
        margin-top:0px
    }
    .lowerRow{
        margin-top: 0px;
    }
    .bestsellerContainer {
        margin-top: 15px;
        min-height: 300px;
    }
    .blogContainer {
        margin-top: 15px;
    }
    .howContainer{
        padding-top: 5px;
    }
    .howContainer div.block{
        margin:7px;
    }
    .faq a {
        line-height: 30px;
    }

    .about {
        padding: 0 0;
    }
    .advert {
        padding-top:0px !important;
        padding-bottom:0px!important;
    }
    .advert div.leftColumn h4 {
        margin-top: 0px;
        letter-spacing: 2px;
        text-align: center;
    }
    .advert div.leftColumn h3 {
        text-align: center;
    }
    .leftColumn div.bottom {
        margin-top: 10px;
        text-align: center;
    }
    .newsletterContainer h4{
        text-align:center;
    }
    .newsletter {
        background-image: none;
    }
    .newsletter input, .newsletter button {
        margin-top: 8px;
        margin-bottom: 8px;
        width:100%;
    }
    .newsletterContainer ul{
        margin-top:30px;
    }
    .bottomMenu ul{
        padding-left:0px;
        text-align: center;
    }
    .bottomMenu ul li {
        font-size: 12px;
        padding: 0 15px;
        border:none;
    }
    .links ul{
        padding-left:0px;
        text-align:center;
    }
    .contact div {
        padding-left: 50px;
    }
    .border h4{
        text-align:center;
        margin-bottom:20px;
    }
    .social {
        text-align: center;
    }
    .footer {
        background-image: none;
    }
    .links ul li, .links ul a{
        font-size:10px;
    }
    .navbar-header{
        background-color: #000;
    }
    .topMenu li {
        float: none;
    }
    .navbar-collapse{
        background-color: #e42c35;
    }
    .topMenu li a  {
        padding: 10px 0px;
        font-size: 16px;
        text-align: center;
        font-weight: 200
    } 
    .topMenu li input {
        width: 100%;
        padding: 10px 10px;
        font-size: 16px;
        margin-left: 0;
        margin-right: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .mainSlogan {
        margin-top: 40px;
        font-size: 27px;
        font-weight: 100;
    }
    .mainFormContainer {
        margin: 0px;
    }
    .btnContainer {
        margin-bottom: 30px;
    }
    .mainWrapper {
        background-repeat: no-repeat;
        background-position: 0% 50%;
        background-size: auto;
    }
    .mainForm {
        padding: 10px !important;
        opacity: 0.90;
    }
    .mainFormContainer button {
        border-bottom: 1px solid #e42c35;
    }
    .mainFormContainer button.noBorder{
        border: none;
    }
    .topMenu li a {
        border-bottom:1px solid #d22b33;
    }
    .topMenu li a:hover{
        color:#000 !important; 
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #d22b33;
        border-bottom:1px solid #d22b33;

    }
    .container-fluid>.navbar-header, .container-fluid>.navbar-collapse{
        margin-left:0px;
        margin-right:0px;
    }
    .mainMenu{
        width:100%;
        float:left;
        height: auto;
    }
    .navbar-nav {
        margin: auto;
    }
    .dropdown-menu.submenu {
        margin-left: auto;
    }
    .submenu li a {
        color: #fff;
        font-size: 16px;
        padding: 10px 0 !important;
    }
    .searchContainer{
        position: initial;
    }

}
